---
apiVersion: v1
kind: ConfigMap
metadata:
  name: longhorn-default-setting
data:
  default-setting.yaml: |-
    backup-target: s3://wiersma-tech-backup@us/longhorn
    backup-target-credential-secret: longhorn-gcp-backups
    priority-class: longhorn-critical
    create-default-disk-labeled-nodes: true
    default-data-path: /data
    storage-reserved-percentage-for-default-disk: 0
    default-replica-count: 3
    taint-toleration: node-role.kubernetes.io/storage:NoSchedule
    snapshot-data-integrity: fast-check
    snapshot-data-integrity-cronjob: "0 2,12 * * *"
    snapshot-data-integrity-immediate-check-after-snapshot-creation: true
    fast-replica-rebuild-enabled: true
