---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media

resources:
  - pvc.yaml
  - sonarr.yaml
  - radarr.yaml
  - sabnzbd.yaml

images:
  - name: ghcr.io/linuxserver/sonarr
    newTag: 4.0.16
  - name: ghcr.io/linuxserver/radarr
    newTag: 6.0.4
  - name: ghcr.io/linuxserver/sabnzbd
    newTag: 4.5.5
